@import "tailwindcss";

@font-face {
    font-family: 'LovelyHome';
    src: url('/fonts/LovelyHome.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'LovelyHome';
}