@import "tailwindcss";

@font-face {
    font-family: 'LovelyHome';
    src: url('/fonts/LovelyHome.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'LovelyHome';
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.background {
    position: relative;
}

.background::before {
    content: "";
    background: url('/photos/background.jpg') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-filter: grayscale(0%);
    filter: grayscale(50%);
    z-index: -1;
}