uvicorn
fastapi[all]
pydantic-extra-types
phonenumbers
motor
mongoengine
pylint-mongoengine
requests
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
pandas
openpyxl
python-multipart

# Testing dependencies
pytest
mongomock
pylint-pytest